@import url('../../index.css');
.about{
    >h1{
        font-style: normal;
        font-weight: 500 !important;
        font-size: 35px;
        line-height: 41px;

    }
    >p{
        margin-bottom:80px ;
        font-style: normal;
font-weight: 350;
font-size: 20px;
line-height: 30px;
    }
    >img{
        margin-bottom: 80px;
       margin-left: 10%;
    }
    
}