@import url('../../index.css');
.section{
    width: 100%;
    display: flex;
    .news{
        display: flex;
        flex-direction: column;
        width: 380px;
    
        >h3{
            color: #0056FF;
            font-weight:400 ;
        }
        .all-news{
            font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        }
    }
    .main-news{
        width: 1080px;
        height: 450px;
        position: relative;
        display: grid;
        margin-left: 20px;
        grid-template-columns: 1fr ;
        >img{
            z-index: 0;
        }
        .text{
            position: absolute;
            color: white;
            z-index: 1;
            bottom: 40px;
            left: 30px;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
/*             background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
 */            width: 100%;
 >h6{
    color: #0056FF;
    margin: 0;
    font-weight: 400;
font-size: 20px;
line-height: 23px;

}

        }
        
        .additional-news{
            width: 1110px;
            margin-top: 30px;
            display: inline-flex;
        }
    }
}