.entry-page{
    width:100%;
  height: 100%;
  position: relative;
  text-align: center;
    background-image: url('../../assets/main/entry.png');
    background-size: cover;
  background-position: 50% 0%;
}