@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('./assets/fonts/GTEestiProDisplay-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('./assets/fonts/GTEestiProDisplay-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('./assets/fonts/GTEestiProText-Thin.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'GT Eesti Pro Display';
  src: url('./assets/fonts/GTEestiProDisplay-UltraLight.ttf');
}
*{
  font-family: 'GT Eesti Pro Display';
}

